//define semantic variables where to apply the colors above
$divisionLines 			 	: $blueOne;
$arrow        			 	: $blueTwo;
$buttons      			 	: $blueThree;
$blueBoxes    			 	: $blueThree;
$h1Color 				 	: $blueFour;
$h2Color 				 	: $blueFive; 
$h3Color 				 	: $blueFive; 
$h4Color	 			 	: $blueThree;
$featured_event          	: $blueFive; 
$regisrationSecHeading   	: $blueFour; 
$regisrationPrimHeading  	: $blueFive; 
$eventTags               	: $blueFive;
$events_links_color		 	: $blueFour;
$video_conference_text      : $blueFour;
$events_links_border	 	: $blueOne;
$eventDate 				 	: $grayThree;
$heroItalics 			 	: $grayTwo;
$inactiveTabTxt 		 	: $grayTwo;
$paragraphs              	: $grayOne;
$header_text             	: $white;
$button_text             	: $white;
$menu_links              	: $grayFour;
$menu_links_hover        	: $blueSix;
$physiciansImg_overlay   	: $blueSeven;
$physiciansImg_tag_bg       : $blueNine;
$chevron_background      	: $grayFive;
$chevron_backgroundHover 	: $graySeven;
$unselected_tab          	: $graySix;
$tabs_text               	: $grayTwo;
$tabs_content_background 	: $blueThree;
$event_paragraph_color   	: $blueFive; 
$sections_background     	: $graySix;
$upcomingEvents_background 	: $blueEight;
$footer_copyright_paragraph : $grayFive;
